In [ ]:
# data structures:
- Data structures are a way of organizing and storing data.
- so that they can be accessed and worked with efficiently.

In [ ]:
#we have 4 types of datastructures in python:
1.list
2.tuple
3.dictionary
4.sets

In [ ]:
# list
- A list is a data structure that holds an ordered collection of items.
- List is a collection which is ordered and changeable. Allows duplicate members.
- you can store a sequence of items in a list.
- Lists in Python are used to store collection of heterogeneous items.
- These are mutable, which means that you can change their content without changing their identity.
- You can recognize lists by their square brackets [ and ] that hold elements, separated by a comma ,.
- It is similar to array with the exception that the data elements can be of different data types.
- You can have both numeric and string data in a python list.

In [4]:
#empty list
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [ ]:
# Creating Lists:

In [3]:
# integerlist(unsorted)
li=[12,1,89,90,34,27,1,100]
print(li)

[12, 1, 89, 90, 34, 27, 1, 100]

In [2]:
# multilist
li=[12,67.89,'python']
print(li)

[12, 67.89, 'python']

In [5]:
#duplicate list
li=[24,12,34,56,1,24,12,90]
print(li)

[24, 12, 34, 56, 1, 24, 12, 90]

In [6]:
# some builtin functions:
print("type:",type(li))
print("length:",len(li))
print("sum:",sum(li))
print("min:",min(li))
print("max:",max(li))
print("sorted list:",sorted(li))

type: <class 'list'>
length: 8
sum: 253
min: 1
max: 90
sorted list: [1, 12, 12, 24, 24, 34, 56, 90]

In [78]:
s=["p","y","t","h","o","n"]
print("type:",type(s))
print("length:",len(s))
print("min:",min(s))
print("max:",max(s))
print("sorted list:",sorted(s))

type: <class 'list'>
length: 6
min: h
max: y
sorted list: ['h', 'n', 'o', 'p', 't', 'y']

In [24]:
#all,any,enumerate,zip
number=[]
name=['pavani','ambika','poojitha']
rollno=[10,20,50,80,90]
print(all(number))
print(all(name))
print(any(number))
print(any(name))
print(list(enumerate(name)))
print(list(enumerate(number)))
print(list(zip(name,rollno)))

True
True
False
True
[(0, 'pavani'), (1, 'ambika'), (2, 'poojitha')]
[]
[('pavani', 10), ('ambika', 20), ('poojitha', 50)]

In [38]:
#Accessing List elements:
#indexing:
li=[24, 12, 34, 56, 1, 24, 12, 90]
print(li[0])
#negtive indexing:
print(li[-2])
#slicing:
print(li[3:7])
print(li[1:9:2])
print(li[::-1])

24
12
[56, 1, 24, 12]
[12, 56, 24, 90]
[90, 12, 24, 1, 56, 34, 12, 24]

In [36]:
#concatenation:
li1=[1,2,3,4,5]
li2=[2,3,7,9,0,8]
print(li1+li2)

[1, 2, 3, 4, 5, 2, 3, 7, 9, 0, 8]

In [79]:
s1=['python']
s2=['workshop']
print(s1+s2)

['python', 'workshop']

In [42]:
li=[23,4,51,[16,89,90,23,12],11]
print(li)
print(li[2])
print(li[3])
print(li[3][2])

[23, 4, 51, [16, 89, 90, 23, 12], 11]
51
[16, 89, 90, 23, 12]
90

In [43]:
#list is mutable
li[4]=30
print(li)

[23, 4, 51, [16, 89, 90, 23, 12], 30]

In [45]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [67]:
l=[23,12,7,56,4]
l.append(90) #based on value
print(l)

[23, 12, 7, 56, 4, 90]

In [68]:
l.insert(2,60) #based on index and value
l

[23, 12, 60, 7, 56, 4, 90]

In [69]:
l=[23,34,23,23,45]
print(l.count(23))
print(l.index(23))

3
0

In [70]:
l=[23,12,7,56,4]
l.remove(7) # based on value
l

[23, 12, 56, 4]

In [71]:
l=[23,12,7,56,4]
l.pop(1)   # based on indexvalue
l

[23, 7, 56, 4]

In [91]:
l=[23,12,7,56,4]
l.reverse()
l

[4, 56, 7, 12, 23]

In [93]:
#original list
print("original list:",l)
l.sort()
#increasing list
print("sorted list:",l)
#decreasing list
l.sort(reverse=True)
print("reverse sorted list:",l)

original list: [56, 23, 12, 7, 4]
sorted list: [4, 7, 12, 23, 56]
reverse sorted list: [56, 23, 12, 7, 4]

In [76]:
l=[23,12,7]
l1=[45,77,2]
l.extend(l1)
print(l)
print(l1)

[23, 12, 7, 45, 77, 2]
[45, 77, 2]

In [77]:
#assignment
t=[7,34,2,56]
t1=t
print(t)
print(t1)

[7, 34, 2, 56]
[7, 34, 2, 56]

In [78]:
t.append(90)
print(t)
print(t1)

[7, 34, 2, 56, 90]
[7, 34, 2, 56, 90]

In [79]:
#copy
t=[7,34,2,56]
t1=t.copy()
print(t)
print(t1)

[7, 34, 2, 56]
[7, 34, 2, 56]

In [80]:
t.remove(2)
print(t)
print(t1)

[7, 34, 56]
[7, 34, 2, 56]

In [81]:
t=[7,34,2,56]
t.clear()
print(t)

[]

In [82]:
t=[7,34,2,56]
del(t)
print(t)

NameError: name 't' is not defined

In [ ]:
#Examples:

In [95]:
l=[1,2,3,4]
li=[]
for i in l:
    li.append(i**2)
print(li)

[1, 4, 9, 16]

In [ ]:
li=list(map(int,input().split()))

In [123]:
l1=[9,8,7,6]
l2=[[0],[0,2],[0,1],[4,1,2]]
o=[]
for i in range(len(l1)):
    temp=[]
    for j in l2[i]:
        temp.append(j+l1[i])
    o.append(temp)
print(l1,"\n",l2)
print(o)

[9, 8, 7, 6]
 [[0], [0, 2], [0, 1], [4, 1, 2]]
[[9], [8, 10], [7, 8], [10, 7, 8]]

In [124]:
#duplicates remove
l=[12,12,23,45,13,23]
li=[]
for i in l:
    if i not in li:
        li.append(i)
print(li)

[12, 23, 45, 13]

In [125]:
#unique elements:
l=[12,12,23,45,13,23]
li=[]
for i in l:
    if l.count(i)==1:
        li.append(i)
print(li)

[45, 13]

In [126]:
#average
l=[1,2,3,4,5]
print("average:",sum(l)/len(l))

average: 3.0

In [ ]:
# tuple:
- Tuples are used to hold together multiple objects.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- One major feature of tuples is that they are immutable. i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are another standard sequence data type.
- The difference between tuples and list is that tuples are immutable,
- which means once defined you cannot delete, add or edit any values inside it.
- This might be useful in situations where you might to pass
- the control to someone else but you do not want them to manipulate data in your collection,
- but rather maybe just see them or perform operations separately in a copy of the data.
- Tuples are similar to lists but they are immutable.
- which means the values in a tuple cannot be modified they can only be read.

In [85]:
#empty tuple
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [86]:
#multituple
t=(24,56.8,"python")
print(t)

(24, 56.8, 'python')

In [96]:
#duplicates:
t=(23,23,45,67,12,10,12)
print(t)

(23, 23, 45, 67, 12, 10, 12)

In [80]:
# integer tuple
t=(23,12,34,2)
print("type:",type(t))
print("length:",len(t))
print("min:",min(t))
print("max:",max(t))
print("sorted:",sorted(t))
print("sum:",sum(t))

type: <class 'tuple'>
length: 4
min: 2
max: 34
sorted: [2, 12, 23, 34]
sum: 71

In [81]:
#tuple is immutable
t=(23,12,34,2)
t[3]=70
t

TypeError: 'tuple' object does not support item assignment

In [100]:
#Accessing List elements:
#indexing:
t=(20,10,30,50,1,20)
print(t[0])
#negtive indexing:
print(t[-3])
#slicing:
print(t[2:5])
print(t[1:5:2])
print(t[::-1])

20
50
(30, 50, 1)
(10, 50)
(20, 1, 50, 30, 10, 20)

In [101]:
#concatenation:
t1=(1,2,3,4,5)
t2=(2,3,7,9,0,8)
print(li1+li2)

[1, 2, 3, 4, 5, 12, 10, 67, 3, 45, 78]

In [108]:
t=(23,1,2,12,(23,45,10),89)
print(t)
print(t[3])
print(t[4])
print(t[4][1])

(23, 1, 2, 12, (23, 45, 10), 89)
12
(23, 45, 10)
45

In [82]:
print(dir(tuple),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [90]:
t=(23,12,34,2,23)
print(t.count(23))
print(t.index(23))

2
0

In [ ]:
#Tuple assignment
- Tuple packing and unpacking are some useful operations,
- that you can perform to assign values to a tuple of elements from another tuple in a single line.
- We already saw tuple packing when we made our t tuple. 
- Tuple unpacking is just the opposite-assigning values to variables from a tuple

In [109]:
# tuple packing
t=(23,45.7,"vignan")
# tuple unpacking
a,b,c=t
print(a)
print(b)
print(c)
print(t)

23
45.7
vignan
(23, 45.7, 'vignan')

In [ ]:
#Changing Tuple to list

In [111]:
t=(12,12,23,67,10)
print(type(t))
print(t)
l=list(t)
print(type(l))
print(l)

<class 'tuple'>
(12, 12, 23, 67, 10)
<class 'list'>
[12, 12, 23, 67, 10]

In [113]:
#Changing list to tuple

In [112]:
l.append(90)
print(type(l))
print(l)
t1=tuple(l)
print(type(t1))
print(t1)

<class 'list'>
[12, 12, 23, 67, 10, 90]
<class 'tuple'>
(12, 12, 23, 67, 10, 90)

In [114]:
del t1
print(t1)

NameError: name 't1' is not defined

In [ ]:
#dictionary:
- Dictionaries are exactly what you need.
- if you want to implement something similar to a telephone book.
- None of the data structures that you have seen before are suitable for a telephone book.
- This is when a dictionary can come in handy.
- Dictionaries are made up of key-value pairs. 
- key is used to identify the item and the value holds as the name suggests, the value of the item.

In [ ]:
#sets:
- Sets are a collection of distinct (unique) objects.
- These are useful to create lists that only hold unique values in the dataset.
- It is an unordered collection but a mutable one,
- this is very helpful when going through a huge dataset.